streamlit
langchain
langchain-community
chromadb
sentence-transformers
pypdf
rank_bm25
fastapi
uvicorn
python-multipart
requests
presidio-analyzer
presidio-anonymizer
langchain-experimental
beautifulsoup4
unstructured
markdown
docx2txt
PyJWT